/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
.header__menu {
    display: block;
  }

  .cube {
    display: flex;
    justify-content: space-between;
    flex-direction: none;
  
    &__sub {
        margin: 50px auto;
  
    }
  }

  .name-slide {
    height: 500px;

    .x-logo {
        display: block;
    }

    .name {
        &__full {
            font-size: 7em;
          
        }
    }
}

.swiper-container {

    .main-title {
        font-size: 2.4em;

        &.history-text {
            font-size: 2.4em;
        }
    }
}

.content {
    .myself {
        > .main-title {
            font-size: 3em;
           
        }
    }
  }