/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
.header__menu {
    display: block;
  }

  .main-text {
    width: 100%;
    height: auto;
    color: $cwhite;

    .main-title {
        margin-top: 30px;
        font-size: 1.6em;

    }

    .sub-text {
        font-size: 1.4em;
    }
}