/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
.main-text {
    width:90%;
    height: auto;
    color: $cwhite;

    .main-title {
        margin-top: 30px;
        font-size: 1.6em;

    }

    .sub-text {
        font-size: 1.2em;
    }
}