@charset "UTF-8";
html {
  font-family: 'Libre Baskerville', serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  border: none;
}

a {
  border: none;
  text-decoration: none;
  color: white;
}

#global-container {
  background-image: url("../../../images/about-history.png");
  background-size: cover;
  margin: 0;
  padding: 0;
}

#global-container .container {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1280px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  background-image: url("../../images/top.jpg");
  background-size: cover;
  background-position: center center;
}

.swiper-container {
  width: 320px;
  height: 300px;
  overflow: visible !important;
}

.swiper-container .swiper-slide {
  position: relative;
  width: 100%;
  height: 300px;
}

.swiper-container .swiper-slide .text {
  width: 100%;
}

.swiper-container img {
  width: 100%;
  max-width: 100%;
  height: 300px;
  opacity: 0.95;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-container .main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
  text-align: center;
  color: white;
  font-size: 2.4em;
  font-weight: 600;
}

.swiper-container .main-title a {
  text-decoration: none;
  color: white;
  border: none;
}

.swiper-container .main-title.history-text {
  font-size: 1.8em;
}

.main-title.text-important {
  width: 100%;
  position: absolute;
  font-size: 1.6em;
  background-color: black;
}

.menu-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -25%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.menu-cover li {
  -webkit-transform: translateX(900px);
          transform: translateX(900px);
  opacity: 0;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  list-style: none;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-area {
  width: 300px;
  height: 100px;
  font-size: 2rem;
  color: white;
  margin: 25px 0 0 25px;
}

.header__logo-area:hover span {
  letter-spacing: 6px;
  color: orange;
  -webkit-transition: all 1.8s;
  transition: all 1.8s;
}

.header__logo-areaspan {
  color: white;
}

.header__menu {
  color: white;
}

.header__menu .menu {
  font-size: 1.8em;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  margin-right: 40px;
  padding: 20px;
  cursor: pointer;
}

.header__menu {
  display: none;
}

.menu1:hover {
  background-color: black;
}

.menu2 {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.menu2__cover {
  display: inline-block;
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: -1;
}

.menu2:hover .menu2__cover {
  -webkit-transform: none;
          transform: none;
  color: white;
}

.menu3 {
  position: relative;
  z-index: 1;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 300px;
          perspective: 300px;
}

.menu3__cover {
  display: inline-block;
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  z-index: -1;
  opacity: 0;
}

.menu3:hover .menu3__cover {
  -webkit-transform: none;
          transform: none;
  color: white;
  opacity: 1;
}

.menu-btn {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.menu-btn span {
  width: 60px;
  height: 5px;
  display: block;
  background-color: white;
  margin: 0 auto 12px auto;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.menu-btn span:last-child {
  margin-bottom: 0;
}

.menu-open {
  background-color: teal;
}

.menu-open .menu-cover {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.menu-open .menu-cover ul {
  width: 100%;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 0;
  right: 0;
}

.menu-open .menu-cover li {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border: 3px solid white;
  margin-bottom: 30px;
  border-radius: 15px;
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.menu-open .menu-cover li:nth-child(1) {
  padding-left: 15px;
  margin-left: 50px;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.menu-open .menu-cover li:nth-child(2) {
  padding-left: 15px;
  margin-left: 100px;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.menu-open .menu-cover li:nth-child(3) {
  padding-left: 15px;
  margin-left: 150px;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.menu-open .menu-cover li a {
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.menu-open .menu-btn span {
  background-color: tomato;
}

.menu-open .menu-btn span:nth-child(1) {
  -webkit-transform: translateY(16px) rotate(135deg);
          transform: translateY(16px) rotate(135deg);
}

.menu-open .menu-btn span:nth-child(2) {
  -webkit-transform: translateX(-18px) scaleX(0);
          transform: translateX(-18px) scaleX(0);
}

.menu-open .menu-btn span:nth-child(3) {
  -webkit-transform: translateY(-16px) rotate(-135deg);
          transform: translateY(-16px) rotate(-135deg);
}

.name-slide {
  width: 100%;
  height: 300px;
  position: relative;
}

.name-slide .x-logo {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 7em;
  color: white;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  -webkit-animation: kf-logo 10s infinite;
          animation: kf-logo 10s infinite;
}

.name-slide .about-cover {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  -webkit-animation: kf-cover 10s infinite;
          animation: kf-cover 10s infinite;
}

.name-slide .name {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.name-slide .name__full {
  font-size: 2.1em;
  color: white;
  background-color: #c8c8c8;
  margin-top: 70px;
  margin-bottom: 50px;
  -webkit-animation: kf-box 10s infinite;
          animation: kf-box 10s infinite;
}

.name-slide .name__full:nth-child(2) {
  padding-left: 150px;
}

.name-slide .name__full span {
  display: block;
  -webkit-animation: kf-name 10s infinite;
          animation: kf-name 10s infinite;
}

@-webkit-keyframes kf-name {
  0% {
    color: black;
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
    opacity: 0;
  }
  100% {
    color: #8c6e19;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes kf-name {
  0% {
    color: black;
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
    opacity: 0;
  }
  100% {
    color: #8c6e19;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes kf-box {
  0% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes kf-box {
  0% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.5;
  }
}

@-webkit-keyframes kf-cover {
  0% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 0.1;
  }
}

@keyframes kf-cover {
  0% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 0.1;
  }
}

@-webkit-keyframes kf-logo {
  0% {
    color: white;
    opacity: 0;
    -webkit-transform: scale(0) translate(0%, 0%) rotate(0deg);
            transform: scale(0) translate(0%, 0%) rotate(0deg);
  }
  50% {
    color: red;
    opacity: 0;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    color: #8c6e19;
    opacity: 1;
    -webkit-transform: scale(1) translate(0%, -58%) rotate(180deg);
            transform: scale(1) translate(0%, -58%) rotate(180deg);
  }
}

@keyframes kf-logo {
  0% {
    color: white;
    opacity: 0;
    -webkit-transform: scale(0) translate(0%, 0%) rotate(0deg);
            transform: scale(0) translate(0%, 0%) rotate(0deg);
  }
  50% {
    color: red;
    opacity: 0;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    color: #8c6e19;
    opacity: 1;
    -webkit-transform: scale(1) translate(0%, -58%) rotate(180deg);
            transform: scale(1) translate(0%, -58%) rotate(180deg);
  }
}

.content .myself > .main-title {
  display: inline-block;
  font-size: 3em;
  color: white;
  text-align: center;
  vertical-align: text-bottom;
}

.cube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cube__sub {
  margin: 50px auto;
}

.main-title.myself-title .char {
  display: inline-block;
  -webkit-animation-name: kf-text-animation;
          animation-name: kf-text-animation;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.main-title.myself-title .char:nth-child(1) {
  -webkit-animation-delay: 0.07s;
          animation-delay: 0.07s;
}

.main-title.myself-title .char:nth-child(2) {
  -webkit-animation-delay: 0.14s;
          animation-delay: 0.14s;
}

.main-title.myself-title .char:nth-child(3) {
  -webkit-animation-delay: 0.21s;
          animation-delay: 0.21s;
}

.main-title.myself-title .char:nth-child(4) {
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
}

.main-title.myself-title .char:nth-child(5) {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.main-title.myself-title .char:nth-child(6) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}

.main-title.myself-title .char:nth-child(7) {
  -webkit-animation-delay: 0.49s;
          animation-delay: 0.49s;
}

.main-title.myself-title .char:nth-child(8) {
  -webkit-animation-delay: 0.56s;
          animation-delay: 0.56s;
}

.main-title.myself-title .char:nth-child(9) {
  -webkit-animation-delay: 0.63s;
          animation-delay: 0.63s;
}

@-webkit-keyframes kf-text-animation {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes kf-text-animation {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

.footer {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: black;
  color: white;
  position: absolute;
  font-size: 1.2em;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
  #header__logo-area {
    width: 300px;
    height: 100px;
    font-size: 2rem;
    color: white;
  }
  #header__logo-area span {
    color: white;
  }
  .header__menu {
    display: none;
  }
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
  .swiper-container {
    width: 600px;
  }
  .name-slide {
    height: 500px;
  }
  .name-slide .x-logo {
    display: block;
  }
  .name-slide .name__full {
    font-size: 7em;
  }
  .swiper-container .main-title.history-text {
    font-size: 2.4em;
  }
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  #header .menu-btn {
    display: none;
  }
  #header__logo-area {
    width: 300px;
    height: 100px;
    font-size: 2rem;
    color: white;
  }
  #header__logo-area span {
    color: white;
  }
  .header__menu {
    display: block;
  }
  .name-slide {
    height: 500px;
  }
  .name-slide .x-logo {
    display: block;
  }
  .name-slide .name__full {
    font-size: 7em;
  }
  .swiper-container .main-title.history-text {
    font-size: 2.4em;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
  .header__menu {
    display: block;
  }
  .cube {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: none;
            flex-direction: none;
  }
  .cube__sub {
    margin: 50px auto;
  }
  .name-slide {
    height: 500px;
  }
  .name-slide .x-logo {
    display: block;
  }
  .name-slide .name__full {
    font-size: 7em;
  }
  .swiper-container .main-title.history-text {
    font-size: 2.4em;
  }
}
/*# sourceMappingURL=style.css.map */